<p id="notice"></p>
<div class="container">
     <div class="row">
         <h1 class="px-3 mx-auto">
          Welcome to <i class="fas fa-book"></i><strong>Animals</strong>!
         </h1>
         <h5 class="px-3 mx-auto">好きな動物を投稿したり、他人の投稿を見ることができるコミュニティサイト
         </h5>
     </div>
</div>

